<p id="notice"><%= notice %></p>

<article id="job-details">
  <%= image_tag @job.company_logo_url, class: 'company-logo' if @job.company_logo_url? %>
  <h1><%= @job.name %></h1>
  <p class="lead"><%= link_to @job.company_name, @job.company_url %> <small>in</small> <%= @job.location %></p>
  <p><%= markdown @job.description %></p>
</article>

<p>
<b>Contact email:</b>
<%= @job.contact_email %>
</p>

<%= link_to 'Back', jobs_path %>
