%article.event.clearfix
  = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{event.lat},#{event.lon}&markers=color:red%7Ccolor:red%7Clabel:C%7C#{event.lat},#{event.lon}&zoom=16&size=350x200&sensor=false", class: "event-venue"
  %h2= link_to(event.name, event.event_url)
  %p
    %strong When:
    %time= event.time.in_time_zone('Jerusalem')
  %p= markdown(event.description) if event.description?
