!!!
%html
  %head
    %title Ruby Underground Israel - Home of the Israeli Ruby and Rails Community
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

%section#main
  %header
    %h1= link_to "Ruby Underground", root_path
    %h2 The Israeli Ruby and Rails Community

  %section#content
    - if flash[:notice]
      .alert.alert-success= flash[:notice]
    - if flash[:alert]
      .alert.alert-error= flash[:alert]
    = yield
  %footer
    %nav
      %ul
        %li= link_to "Home", root_path
        %li= link_to "Jobs", jobs_path
        %li= link_to "Events", events_path
        %li= link_to "Videos", videos_path
        %li= link_to "Contribute", "https://github.com/ruby-underground-israel/ruby-underground"

%aside
  = # render partial: 'shared/authentication'
  = link_to image_tag('logo.png', id: 'logo'), root_path

  = link_to "Jobs", jobs_path, class: "thoughtbot"
  = link_to "Events", events_path, class: "thoughtbot"
  = link_to "Videos", videos_path, class: "thoughtbot"
  = link_to "Contribute", "https://github.com/rauchy/ruby-underground", class: "thoughtbot"

  %ul#social-media
    %li= link_to image_tag('twitter.png'), "http://www.twitter.com/rubyisrael", target: "_blank"
    %li= link_to image_tag('feed.png')
    %li= link_to image_tag('linkedin.png'), "http://www.linkedin.com/groups/Israelrb-Israel-Ruby-Rails-Developers-2239918", target: "_blank"


  %section#hiring
    %h1 Hiring?
    %p Are you looking for top-quality Ruby developers? Tell us about it and we'll help you find'em
    = link_to "Post a job", new_job_path, class: "btn"

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36047373-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
