<!DOCTYPE html>
<html>
<head>
<title>Ruby Underground Israel - Home of the Israeli Ruby and Rails Community</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>

<section id="main">
  <header>
    <%= link_to image_tag('logo.png', id: 'logo'), root_path %>
    <h1><%= link_to "Ruby Underground", root_path %></h1>
    <h2>The Israeli Ruby and Rails Community</h2>
  </header>
  <section id="content">
    <%= yield %>
  </section>
  <footer>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Jobs", jobs_path %></li>
        <li>Events</li>
        <li>Videos</li>
        <li>Contribute</li>
      </ul>
    </nav>
  </footer>
</section>

<aside>
  <ul id="social-media">
    <li><%= link_to image_tag('twitter.png'), "http://www.twitter.com/rubyisrael", target: "_blank" %></li>
    <li><%= link_to image_tag('feed.png') %></li>
    <li><%= link_to image_tag('linkedin.png'), "http://www.linkedin.com/groups/Israelrb-Israel-Ruby-Rails-Developers-2239918", target: "_blank" %>
</ul>

  <section id="hiring">
    <h1>Hiring?</h1>
    <p>Are you looking for top-quality Ruby developers? Tell us about it and we'll help you find'em</p>
    <%= link_to "Post a job", new_job_path, class: "btn btn-primary btn-large" %>
  </section>
</aside>

</body>
</html>
